<div class="row justify-content-between" id="page-title-spacing">
  <span id="page-title-dialog">
    {{pageTitle}}
  </span>

  <button id="bt-close" mat-icon-button (click)="closeDialog()" class="close-dialog">
    <i class="ti-close"></i>
  </button>
</div>

<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <div id="content-dialog">

    <div class="row">
      <div class="col">
        <span id="basic-addon1" class="field-class">Nome*</span>
        <input cdkFocusInitial id="md-txt-name" type="text" class="form-control" placeholder="{{placeHolderName}}" required maxlength="30"
          [formControl]="name" />
      </div>
      <div class="col">
        <span id="basic-addon1" class="field-class">Descrição*</span>
        <input id="md-txt-description" type="text" class="form-control" placeholder="{{placeHolderDescription}}" required maxlength="45"
          [formControl]="description" />
      </div>
    </div>

    <div class="row">
      <div class="col">
        <span id="basic-addon1" class="field-class">Código*</span>
        <input cdkFocusInitial id="md-txt-code" type="text" class="form-control" placeholder="{{placeHolderCode}}" required maxlength="10"
          [formControl]="code" />
      </div>
      <div class="col">
        <span id="basic-addon1" class="field-class">Quantidade*</span>
        <input id="md-txt-quantity" type="text" class="form-control" placeholder="{{placeHolderQuantity}}" required maxlength="6"
          [formControl]="quantity" />
      </div>
      <div class="col">
        <span id="basic-addon1" class="field-class">Valor*</span>
        <input id="md-txt-value" type="text" class="form-control" placeholder="{{placeHolderValue}}" required maxlength="6"
          [formControl]="value" />
      </div>
    </div>

  </div>
  <div id="footer-dialog" class="d-flex flex-row-reverse" *ngIf="!productForm.disabled">
    <button id="md-edit" mat-button type="submit" [disabled]="isDisabled()">Confirmar</button>
    <button id="md-cancel" type="button" mat-button (click)="closeDialog()" class="cancel">Cancelar</button>
  </div>
  <div id="footer-dialog" class="d-flex flex-row-reverse" *ngIf="isDetail">
    <button id="md-close-view" mat-button (click)="closeDialog()" class="cancel">Fechar</button>
  </div>

</form>
