<div class="row justify-content-between" id="page-title-spacing">
  <span id="page-title-dialog">
    {{pageTitle}}
  </span>

  <button id="bt-close" mat-icon-button color="primary" (click)="closeDialog()" class="close-dialog">
    <i class="ti-close"></i>
  </button>
</div>

<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <div id="content-dialog">

    <div class="row">
      <div class="col">
        <span id="basic-addon1" class="field-class">Nome*</span>
        <input cdkFocusInitial id="md-txt-name" type="text" class="form-control" placeholder="{{placeHolderName}}" required maxlength="30"
          [formControl]="nome" />
      </div>
      <div class="col">
        <span id="basic-addon1" class="field-class">Descrição*</span>
        <input id="md-txt-description" type="text" class="form-control" placeholder="{{placeHolderDescription}}" required maxlength="45"
          [formControl]="descricao" />
      </div>
    </div>

    <div class="row">
      <div class="col">
        <span id="basic-addon1" class="field-class">Código*</span>
        <input cdkFocusInitial id="md-txt-code" type="text" class="form-control" placeholder="{{placeHolderCode}}" required maxlength="10"
          [formControl]="codigo" />
      </div>
      <div class="col">
        <span id="basic-addon1" class="field-class">Quantidade*</span>
        <input id="md-txt-quantity" type="text" class="form-control" placeholder="{{placeHolderQuantity}}" required maxlength="6"
          [formControl]="quantidade" />
      </div>
      <div class="col">
        <span id="basic-addon1" class="field-class">Valor*</span>
        <input id="md-txt-value" type="text" class="form-control" placeholder="{{placeHolderValue}}" required maxlength="6"
          [formControl]="valor" />
      </div>
    </div>

  </div>
  <div id="footer-dialog" class="d-flex flex-row-reverse" *ngIf="!productForm.disabled">
    <button id="md-edit" mat-button color="primary" type="submit" [disabled]="isDisabled()">Confirmar</button>
    <button id="md-cancel" type="button" mat-button color="primary" (click)="closeDialog()" class="cancel">Cancelar</button>
  </div>

</form>
