<mat-toolbar color="primary">
  <span>Loja</span>
</mat-toolbar>

<mat-toolbar-row style="background-color: white;">
  <label id="search-label" [hidden]="!showSearch">
    <input id="search" placeholder="Procurar agora..."  #search (keyup)="onKey(search.value)" [(ngModel)]='searchValue' />
  </label>

  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space" [hidden]="showSearch"></span>

  <button id="bt-search" mat-icon-button (click)="onShowSearch()" class="logout-icon" [hidden]="!showSearchAction">
    <i class="dripicons dripicons-search noti-icon"></i>
  </button>
</mat-toolbar-row>

<mat-toolbar-row class="second-top-bar">
  <mat-list-item (click)="showInfo('home')">
    <a matLine><span>Home</span></a>
  </mat-list-item>
  <mat-list-item (click)="showInfo('product')">
    <a matLine><span>Produtos</span></a>
  </mat-list-item>
  <mat-list-item (click)="showInfo('about')">
    <a matLine><span>Sobre</span></a>
  </mat-list-item>
</mat-toolbar-row>

<div class="home-spacing">
  <router-outlet></router-outlet>
</div>

<!-- footer -->
<span class="footer">© 2019 Menina de Laço</span>
