@import '@angular/material/prebuilt-themes/indigo-pink.css';

@import url("https://fonts.googleapis.com/css?family=Arimo:400,700");
/* ==============
  General
===================*/
body {
  background: #eff3f6;
  font-family: "Arimo", sans-serif;
  margin: 0;
  font-size: 13px;
}

html {
  overflow-x: initial!important;
  position: relative;
  min-height: 100%;
  background: #eff3f6;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-weight: 700;
}

h1 {
  line-height: 43px;
}

h2 {
  line-height: 35px;
}

h3 {
  line-height: 30px;
}

h3 small {
  color: #444444;
}

h4 {
  line-height: 22px;
}

h4 small {
  color: #444444;
}

h5 small {
  color: #444444;
}

* {
  outline: none !important;
}

a:hover {
  outline: 0;
  text-decoration: none;
}

a:active {
  outline: 0;
  text-decoration: none;
}

a:focus {
  outline: 0;
  text-decoration: none;
}

code {
  color: #0097a7;
}

.container-alt {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.footer {
  background-color: #f9f9f9;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  bottom: 0;
  color: #0a1832;
  text-align: center;
  padding: 20px 30px;
  position: absolute;
  right: 0;
  left: 240px;
}

#wrapper {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.page {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

/* ==============
  Loader
===================*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #eff3f6;
  z-index: 9999999;
}

#status {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
}

.spinner {
  position: absolute;
  width: 78px;
  height: 78px;
  left: 50%;
  margin-left: -39px;
  margin-top: -39px;
}

.spinner:before {
  content: '';
  position: absolute;
  width: 45px;
  height: 45px;
  top: 50%;
  margin-top: -23px;
  left: 50%;
  margin-left: -23px;
  border-width: 2px 1px;
  border-style: solid;
  border-color: #0097a7 rgba(0, 151, 167, 0.3);
  border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  animation: spin 3.45s infinite;
  -o-animation: spin 3.45s infinite;
  -ms-animation: spin 3.45s infinite;
  -webkit-animation: spin 3.45s infinite;
  -moz-animation: spin 3.45s infinite;
}

.spinner:after {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  top: 50%;
  margin-top: -6px;
  left: 50%;
  margin-left: -6px;
  background-color: #0097a7;
  border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  animation: pulse 6.9s infinite, borderPulse 6.9s infinite;
  -o-animation: pulse 6.9s infinite, borderPulse 6.9s infinite;
  -ms-animation: pulse 6.9s infinite, borderPulse 6.9s infinite;
  -webkit-animation: pulse 6.9s infinite, borderPulse 6.9s infinite;
  -moz-animation: pulse 6.9s infinite, borderPulse 6.9s infinite;
}

.dropdown-item.active, .dropdown-item:active {
  color: #0a1832;
  text-decoration: none;
  background-color: #eff3f6;
}

.dropdown-item {
  padding: 6px 1.5rem;
}

.dropdown-menu-lg {
  width: 270px;
}

/* ==============
  Card
===================*/
.card {
  border: none;
  box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.05);
}

.card-primary {
  background-color: #0f9cf3;
  border-color: #0f9cf3;
}

.card-success {
  background-color: #6fd088;
  border-color: #6fd088;
}

.card-info {
  background-color: #0097a7;
  border-color: #0097a7;
}

.card-warning {
  background-color: #ffbb44;
  border-color: #ffbb44;
}

.card-danger {
  background-color: #f32f53;
  border-color: #f32f53;
}

.card-header {
  border-bottom: 1px solid rgba(10, 24, 50, 0.05);
}

/* ==============
  Menu
===================*/
body {
  padding-bottom: 65px;
}

.wrapper {
  padding-top: 120px;
}

.page-title-box {
  padding: 22px 0;
}

.page-title-box .page-title {
  font-size: 20px;
  margin-bottom: 0;
  margin-top: 0;
}

.container-fluid {
  width: 95%;
}

.topbar-custom {
  border-radius: 0;
  margin-bottom: 0;
}

.topbar-custom .nav-link {
  line-height: 60px;
  color: #ffffff;
}

.topbar-custom .dropdown-toggle:after {
  content: initial;
}

.topbar-custom .menu-left {
  overflow: hidden;
}

.footer {
  left: 0 !important;
  font-family: "Arimo", sans-serif;
  font-size: initial;
  padding: 20px 0;
}

.header-title {
  margin-bottom: 8px;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  font-size: 14px;
}
